@page "/"
@inject HttpClient Http
@using ArabicVocabBuddy.Models

<PageTitle>Arabic Vocab Buddy</PageTitle>

<h1>Arabic Vocab Buddy</h1>

@if (syllabus == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var mySection in syllabus?.Sections)
    {
        <div>
            <h2>Section @mySection.Number</h2>
            @foreach (var unit in mySection.Units)
            {
                <div>
                    <h3>Unit @unit.Number</h3>
                </div>
                <div>
                    <table>
                        @foreach (var vocabularyItem in @unit.Vocabulary)
                        {
                            <tr><td>@vocabularyItem.Arabic</td><td>@vocabularyItem.English</td></tr>
                        }
                    </table>
                </div>
            }
        </div>
    }
}

@code {
    private Syllabus? syllabus;

    protected override async Task OnInitializedAsync()
    {
        syllabus = await Http.GetFromJsonAsync<Syllabus?>("http://localhost:5025/api/Syllabus");
    }
}
